doctype html
html(lang="en")
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title ox collective
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='shortcut icon' href='http://oxcollective.com/favicon.ico')
		link(rel='stylesheet', href='style.css')

	body
		
			
		//- Footer
		footer &copy; 2014 Ox Collective. 

		//- Start Script Imports
